<footer class="site-footer">
  <div class="container">
        <!-- Divider -->
    <div class="footer-divider"></div>
    <div class="footer-top">
      <!-- Left Column -->
      <div class="footer-about" data-aos="fade-up">
        <h2>Nexa</h2>
        <p>
          A modern, fully customizable website template designed for agencies
          that want to showcase their services, portfolio, and expertise.
        </p>

        <div class="footer-socials">
          <a href="#" data-aos="zoom-in" data-aos-delay="100"><i class="fab fa-dribbble"></i></a>
          <a href="#" data-aos="zoom-in" data-aos-delay="200"><i class="fab fa-pinterest"></i></a>
          <a href="#" data-aos="zoom-in" data-aos-delay="300"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>

      <!-- Links Columns -->
      <div class="footer-links" data-aos="fade-up" data-aos-delay="100">
        <h4>Company</h4>
        <ul>
          <li><a href="/about">About Us</a></li>
          <li><a href="/team">Our Team</a></li>
          <li><a href="/comingSoon">Careers</a></li>
          <li><a href="/comingSoon">Projects</a></li>
          <li><a href="/comingSoon">Blog & News</a></li>
        </ul>
      </div>

      <div class="footer-links" data-aos="fade-up" data-aos-delay="200">
        <h4>Services</h4>
        <ul>
          <li><a href="/comingSoon">SEO Optimization</a></li>
          <li><a href="/comingSoon">PPC Advertising</a></li>
          <li><a href="/comingSoon">Content Marketing</a></li>
        </ul>
      </div>

      <div class="footer-links" data-aos="fade-up" data-aos-delay="300">
        <h4>Resources</h4>
        <ul>
          <li><a href="/comingSoon">Case Studies</a></li>
          <li><a href="/pricing">Pricing Plans</a></li>
          <li><a href="/comingSoon">Marketing Guides</a></li>
          <li><a href="/comingSoon">Industry Insights</a></li>
        </ul>
      </div>
    </div>

    <!-- Divider -->
    <div class="footer-divider"></div>

    <!-- Bottom -->
    <div class="footer-bottom" data-aos="fade-up">
      <span>Nexa - Startup Tech Website</span>

      <div class="footer-bottom-links">
        <a href="#">Dribbble</a>
        <a href="#">Pinterest</a>
        <a href="#">LinkedIn</a>
        <span> © <%= new Date().getFullYear() %> NEXA, inc</span>
      </div>
    </div>
  </div>
</footer>



<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="script/script.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-+b3S4bUuQJ4vn3kEfl0sxP6uJ7L5a6Fhj7UVq1mx2/Y=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@srexi/purecounterjs/dist/purecounter_vanilla.js"></script>
<script>
    AOS.init({
        duration: 1500,
        once: true,
        easing: "ease-in-out",
        offset: 100,
    });

    new PureCounter(); 


</script>
</body>

</html>