<section class="tech-section">
  <div class="tech-container">
    <div class="tech-text">
      <h1 data-aos="fade-down">The Tech Behind Your Success</h1>
      <p data-aos="fade-down" data-aos-duration="2500">
        From small businesses to large organizations, our platform combines
        flexibility and intelligence to help you achieve your goals.
      </p>
    </div>

    <div class="tech-cards">
      <div class="card" data-aos="fade-up" data-aos-duration="1000">
        <i class="icon fas fa-chart-line"></i>
        <h3>Data Analytics</h3>
        <p>Transform your raw data into actionable intelligence.</p>
      </div>
      <div class="card flex-end" data-aos="fade-up" data-aos-duration="1500">
        <i class="icon fas fa-location-dot"></i>
        <h3>Marketing Solutions</h3>
        <p>We combine technology with creativity to build</p>
      </div>
      <div class="card" data-aos="fade-up" data-aos-duration="1000">
        <i class="icon fas fa-magnifying-glass"></i>
        <h3>Tech Advisory</h3>
        <p>Every successful startup needs a strong technical</p>
      </div>
      <div class="card" data-aos="fade-up" data-aos-duration="1500">
        <i class="icon fas fa-grip"></i>
        <h3>Launch Strategy</h3>
        <p>Speed is everything in the startup world.</p>
      </div>
    </div>
  </div>
</section>
