<section class="trust-section">
  <div class="container">
 

    <!-- Column 3 -->
    <div class="content-row">
      <div class="text-content" data-aos="slide-right">
        <h2>Technology That Grows With You</h2>
        <p>
          From early-stage startups to worldwide enterprises, our flexible
          pricing evolves with your needs. Begin free, scale effortlessly, and
          unlock features that accelerate your team's innovation.
        </p>
        <button class="learn-more">
          Learn More <span class="thin-arrow">→</span>
        </button>
      </div>

      <div class="image-content" data-aos="slide-left">
        <img src="/images/feature-img.jpg" alt="feature image" />
      </div>
    </div>

    <!-- Column 4 -->
    <div class="info-boxes">
      <div class="box image-box" data-aos="slide-up" data-aos-duration="1000">
        <img
          src="https://templates.enativestudio.com/velocity/wp-content/uploads/sites/39/2025/10/bearded-man-using-computers-and-writing-code-in-ne-2025-03-08-02-30-41-utc_compressed-e1760326619557.jpg"
          alt="icon"
        />
      </div>

      <div class="box text-box" data-aos="slide-up" data-aos-duration="1500">
        <div class="left">
          <div class="box-head">
            <span class="icon material-symbols-outlined">layers</span>
            <h4>Scalable Infrastructure</h4>
          </div>
          <p>
            Built to support rapid growth with performance, security, and
            reliability at every stage.
          </p>
        </div>
        <div class="right">
          <p>Cool Number</p>
          <span
            class="purecounter"
            data-purecounter-start="0"
            data-purecounter-end="500"
          ></span>
          <span>+</span>
        </div>
      </div>

      <div class="box side-box" data-aos="slide-up" data-aos-duration="2000">
        <div class="head">
          <span class="icon material-symbols-outlined">cloud</span>
          <h4>Cloud</h4>
        </div>
        <p>
          Empower your startup with cloud solutions that are fast, secure, and
          cost-efficient.
        </p>
      </div>
    </div>
  </div>
</section>
