<%- include('partials/header.ejs') %>
<section class="other">
  <div class="container" data-aos="fade">
    <div class="other-text">
      <h1 data-aos="fade-up" data-aos-delay="300">Our Team</h1>
      <p class="path" data-aos="fade" data-aos-duration="400">
        <a href="/">Home</a> <i class="fas fa-angle-right"></i> Our Team
      </p>
      <p class="desc" data-aos="fade-down" data-aos-duration="500">
        Meet the people behind Nexa — a team of innovators, creators, and
        problem-solvers dedicated to building technology that drives startup
        success.
      </p>
    </div>
  </div>
</section>
<%-include('partials/team-section.ejs') %>
<section class="team-section" style="margin-top: -155px;">
<!-- Top 3 team members -->
    <div class="team-top" data-aos="fade-up">
      <div class="team-member" data-aos="zoom-in" data-aos-delay="100">
        <img src="https://templates.enativestudio.com/velocity/wp-content/uploads/sites/39/2025/10/professional-woman-working-at-desk-during-night-sh-2025-08-10-06-13-07-utc_compressed-e1760326665931-800x533.jpg" alt="Team Member">
        <h3>Sarah L.</h3>
        <p>Lead Designer</p>
      </div>
      <div class="team-member" data-aos="zoom-in" data-aos-delay="200">
        <img src="https://templates.enativestudio.com/velocity/wp-content/uploads/sites/39/2025/10/bearded-man-using-computers-and-writing-code-in-ne-2025-03-08-02-30-41-utc_compressed-e1760326619557.jpg" alt="Team Member">
        <h3>David M.</h3>
        <p>Senior Developer</p>
      </div>
      <div class="team-member" data-aos="zoom-in" data-aos-delay="300">
        <img src="https://templates.enativestudio.com/velocity/wp-content/uploads/sites/39/2025/10/professional-woman-working-at-desk-during-night-sh-2025-08-10-06-13-07-utc_compressed-e1760326665931-800x533.jpg" alt="Team Member">
        <h3>Emma R.</h3>
        <p>Product Strategist</p>
      </div>
      <div class="team-member" data-aos="zoom-in" data-aos-delay="500">
        <img src="https://templates.enativestudio.com/velocity/wp-content/uploads/sites/39/2025/10/frelancer-working-overtime-in-corporate-workplace-2025-02-17-06-30-10-utc_compressed-781x1024.jpg" alt="Team Member">
        <h3>Peter B.</h3>
        <p>Founder & CEO</p>
    </div>
    </div>

    
  </div>
</section>

<%- include('partials/footer.ejs') %>
