<%- include('partials/header.ejs') %>
<section class="other">
  <div class="container" data-aos="fade">
    <div class="other-text">
      <h1 data-aos="fade-up" data-aos-delay="300">Testimonials</h1>
      <p class="path" data-aos="fade" data-aos-duration="400">
        <a href="/">Home</a> <i class="fas fa-angle-right"></i> Testimonials
      </p>
      <p class="desc" data-aos="fade-down" data-aos-duration="500">
        Discover what our clients say about working with Nexa. We take pride in
        helping startups turn their ideas into impactful digital products
      </p>
    </div>
  </div>
</section>
<%- include('partials/user-love.ejs')%> <%- include('partials/footer.ejs') %>
