:root {
  --gradient-bg: linear-gradient(135deg, #bd7fe9, #9216eb);
  --primary-color: #b56bff;
  --primary-hover: #9a4dff;
  --text-color: #ffffff;
  --dropdown-bg: #1a1a1a79;
  --body-bg: #0f0f0f;
  --shadow-color: rgba(0, 0, 0, 0.6);
}

.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 90vh;
  padding: 0 20px;
  position: relative;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 75vw;
}

.hero h1 {
  font-size: 3.5rem;
  margin-bottom: 10px;
}

.hero-txt {
  background: var(--gradient-bg);
  padding: 3px 10px;
  border-radius: 15px;
}

.hero p {
  font-size: 1rem;
  margin-bottom: 30px;
  line-height: 1.5;
  font-weight: 200;
}

/* Buttons */
.hero-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  padding: 15px 30px;
  font-size: 1rem;
  font-weight: 300;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  transition: 0.3s;
  flex-shrink: 1;
}

.btn-primary {
  background: var(--gradient-bg);
  color: white;
  border: none;
  transition: 0.3s;
}

.btn-primary:hover {
  transform: translateY(-10px) scale(1.02);
  background: transparent;
  border: 1px solid #ccc;
}

.btn-outline {
  background-color: transparent;
  color: white;
  border: 1px solid #ccc;
}

.btn-outline:hover {
  background-color: var(--primary-color);
  color: #fff;
  transform: translateY(-10px) scale(1.02);
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 1.5rem;
  }

  .hero p {
    font-size: 0.75rem;
  }
}

