.team-section {
  background-color: #111;
  color: #fff;
  padding: 80px 10px;
  text-align: center;
}

.team-section h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.team-section p {
  font-size: 1.2rem;
  color: #ccc;
  max-width: 700px;
  margin: 0 auto 60px auto;
  line-height: 1.6;
}

/* Team member wrapper */
.team-top, .team-bottom {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
}

.team-member img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
  max-width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.team-member:hover img {
  transform: scale(1.05);
}

.team-member h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.team-member p {
  font-size: 1rem;
  color: #9a4dff;
}


/* Tablet */
@media (max-width: 992px) {
  .team-member img {
    width: 160px;
    height: 160px;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .team-member img {
    width: 120px;
    height: 120px;
  }

  .team-member h3 {
    font-size: 1.1rem;
  }

  .team-member p {
    font-size: 0.65rem;
  }
}
