/* tech section */
.tech-section {
  background: #111;
  background: radial-gradient(circle at left, rgba(17, 17, 17, 0) 0%, #111 80%),
    url("../images/mesh1.png") no-repeat left center / 100px 300px;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 80px 20px;
  display: flex;
  justify-content: center;
  min-height: 90vh;
}

.tech-container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}

.tech-text {
  text-align: center;
  margin-bottom: 60px;
  width: 500px;
  font-family: Arial, Helvetica, sans-serif;
}

.tech-text h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.tech-text p {
  font-size: 1rem;
  max-width: 700px;
  line-height: 1.5;
  margin-top: -10px;
}

.tech-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  justify-content: center;

  .card {
    padding: 20px;
    height: 250px;
    flex: 1 1 220px;
    min-width: 220px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    background: #291444;
    transition: transform 0.3s, background-color 0.3s;
    border: 1px solid var(--primary-color);
  }

  .card:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(-15px) scale(1.05);
    border-color: #9216eb;
  }

  .card.flex-end {
    margin-top: 50px;
    background: linear-gradient(180deg, #7411bb, #291444);
  }
}

.card .icon {
  font-size: 1.5rem;
  padding: 15px;
  border-radius: 50%;
  background: #9a4dff;
}

.card h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

@media (max-width: 900px) {
  .tech-text {
    text-wrap: wrap;
    width: 100%;
  }
    .tech-text h1 {
      font-size: 2rem;
    }
    .tech-text p {
      font-size: 0.75rem;
    }
  }
